:root {
  --pink: #f3ebde;
  --peach: #ffc6a8;
  --cream: #fff5ec;
  --brown: #5a3e36;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: var(--cream);
  color: var(--brown);
}

/* ===== HEADER ===== */
header {
  background: linear-gradient(135deg, var(--pink), var(--peach));
  color: var(--cream);
  text-align: center;
  padding: 20px 3px;
  background-image: url('bgbear.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

header h1 {
  font-size: 3rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-bottom: 10px;
}

header p {
  font-size: 1.2rem;
  font-style: italic;
}

.fb_logo img {
  width: 10px;
  height: 10px;
  object-fit: cover;
}



/* ===== SECTIONS ===== */
section {
  max-width: 1100px;
  margin: auto;
  padding: 20px 20px;
}

h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2.2rem;

}

a {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: strong;
  font-size: small;
  color: aliceblue;
}

/* ===== PRODUCTS ===== */
.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
}

.product {
  background: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  transition: transform 0.35s ease;
}

.product:hover {
  transform: translateY(-10px) rotate(-1deg);
}

.product img {
  width: 100%;
  height: 360px;
  object-fit: cover;
}

.product h3 {
  margin: 3px;
  color: var(--brown);
}

.product p {
  margin: 0 3px 3px;
  font-size: 0.95rem;
}

.price {
  font-weight: bold;
  margin: 0 15px 15px;
}

/* ===== BUTTONS ===== */
button {
  background: var(--pink);
  color: var(--brown);
  border: none;
  border-radius: 50px;
  padding: 12px;
  margin: 0 15px 20px;
  width: calc(100% - 30px);
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.25s ease, background 0.25s ease;
}

button:hover {
  background: #ff6f91;
  transform: scale(1.05);
}

/* ===== CART ===== */
#cart {
  background: white;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}

.cart-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.checkout {
  margin-top: 25px;
  background: #25d366;
}

/* ===== FOOTER ===== */
footer {
  background: #3d2b1f;
  color: white;
  text-align: center;
  padding: 25px;
}